.pre-survey-layout{
    height: 100%;
    .inner-layout{
        height: 100%;
        .full-page-grid-container{  
            height:100%;
            .full-page-grid-item{
                height:100%;
            }
        }
    }
}