@import "../Globals/breakpoints.scss";
.question-instace-container{
    display: flex;
    width :100%;
    margin-bottom: 3.33rem;
    .skip-button{
        color:black;
        margin-left: 1rem;
        background :#F4F3F2;
        background-color:#F4F3F2;
        height: max-content;
        height: min-content;   
        padding-left: 1rem;
        padding-right: 1rem;  
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: 0.25rem;
        cursor: pointer;
    }
    
    .question-label-container{
        font-size: 1.0rem; 
        margin-bottom: 1em;
        width :100%;
    }
    .index{
        height: fit-content;
        display: flex;
        align-items: center;
        font-size: 1.0rem;
        @include md{
            display :none;
        }
        @include sm{
            display :none;
        }
        svg{
            margin-left: 0.5em;
            margin-right: 0.5em;
            line-height: 0.8em;
            margin-top: 0.3em;
        }
    }
}