.share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    a{
    font-family: Montserrat;
    font-size: 1rem;
    background: #62CBD5;
    background-color: #62CBD5;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: none;
    border: 1px solid #62CBD5;
    }
}
    