
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./SurveyInterface/Assets/sass/Globals/breakpoints.scss";

html{
  scroll-behavior: smooth;
  font-size:21px;
  font-size: var(--root-font-size, 21px);
  width :100vw;
  overflow-x: hidden;
  font-weight: 800;
  // @include sm{
  //   font-size: 16px;
  // }
}

html body{
  font-family: 'Montserrat', sans-serif;
  width:100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

html *{
  box-sizing: border-box;
}
.app-container{
  width: 100%;
}


.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}




